.current-weather{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
  width: 90px;
  height: 90px;
  margin-top: -40px;
}
.temp {
  margin-top: -50px;

  h6 {
    margin-top: -20px;
  }
}
.clouds {
  margin-top: -20px;
}
